body {
    margin: 0;
    width: 800;
    height: 600;
    overflow: hidden;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    margin-top: 10px;
    position: relative;
    color: white;
    text-align: center;
}

.card {
    margin: auto;
    background: rgba(0, 255, 175, 0.25);
    border-radius: 20px;
}

.account-card {
    display: inline-table;
    margin: 10px;
    width: 150;
    height: 75px;
    /*background: rgba(125, 57, 228, 0.25);*/
    background: rgba(0, 255, 175, 0.25);
    border-radius: 20px;
    cursor: pointer;
}

.account-card > p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.create-account-card, .account-overview-card {
    margin: auto;
    width: 400;
    height: 400px;
    background: rgba(0, 255, 175, 0.25);
    border-radius: 20px;
}

.back-button {
    position: absolute;
    left: 0;
    top: 2px;
    margin-top: 2px;
    margin-left: 20px;
    color: #fff;
    background-color: rgba(0, 255, 175, 0.25);
    border: 0;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.back-button:hover {
    background-color: rgba(0, 255, 175, 0.5);
}

.card-button, .delete-button {
    color: #fff;
    background-color: rgba(0, 173, 255, 0.25);
    border: 1px solid #00adff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.card-button:hover {
    background-color: #00adff;
    border-color: #00adff;
}

.delete-button {
    background-color: rgba(255, 0, 0, 0.25);
    border: 1px solid #ff0000;
}

.delete-button:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

#delete-account-button {
    position: absolute;
}

.delete-div {
    position: absolute;
    display: flex;
    bottom: 10%;
    left: 50%;
    justify-content: center;
}

.error {
    color: #ff8484;
}

.padding-20 {
    padding: 20px;
}

.height-200 {
    height: 200px;
}

.height-400 {
    height: 400px;
}

.width-400 {
    width: 400px;
}

.hidden {
    display: none;
}
